.features
	margin-top 180px
	article
		float left
		width 300px
	h2
		margin 12px
		margin-left 70px
		font-family 'Bebas Neue'
		color main-color
		font-size 1.45rem
		letter-spacing .4px

	.desc
		margin-top 33px
		margin-bottom 15px
		font-size 13px
		line-height 18px

	.btn
		display block
		padding 10px

	.btn-more
		font-family 'Bebas Neue'
		color #fff
		background-color main-color
		text-transform uppercase
		text-decoration none
		width 53px



	.services
		margin 0 20px
		&:before
			content ''
			position absolute
			bottom -15px
			sprite $i-ga

	.portfolio
		&:before
			content ''
			position absolute
			bottom -15px
			sprite $i-sh

	.follow
		&:before
			content ''
			position absolute
			bottom -15px
			sprite $i-man
