@font-face
	font-family "Helvetica Neue"
	src url(fonts/HelveticaNeue.ttf)
	font-style normal
	font-weight normal

@font-face
	font-family "Helvetica Neue"
	src url(fonts/HelveticaNeueLight.ttf)
	font-style normal
	font-weight light
