section.slider.swiper-container
	.swiper-wrapper
		.swiper-slide Slide1
		.swiper-slide Slide2
		.swiper-slide Slide3
		.swiper-slide Slide4
		.swiper-slide Slide5
		.swiper-slide Slide6
	.swiper-pagination
	.swiper-button-prev
	.swiper-button-next
