.page-footer
	background-color main-color
	max-width 940px
	margin-top 48px
	color #fff
	clearfix()
	&:before
		position absolute
		content ''
		height 16.6em
		width 13.5em
		margin-left -230px
		background-color rgba(232, 102, 60, 0.5)


	article
		float left
		width 300px

		h1
			margin-bottom 20px
			text-transform uppercase
			font-family 'Bebas Neue'
			font-size 1.55rem
			letter-spacing .7px

		p
			font-family Helvetica
			font-size 0.8rem
			line-height 12px

	article + article
		margin-left 20px

	.about
		padding 35px
		padding-right 10px


	.twitter
		padding 35px
		a
			color link-c

	.contact
		padding-top 35px
		position relative
		a
			font-size 0.75rem
			color link-c
		&:after
			position absolute
			content ''
			top 0
			left 312px
			height 16.6em
			width 13.5em
			background-color rgba(232, 102, 60, 0.5)

.tweet
	margin 25px 0
	font-family Helvetica
	font-size 0.8rem
	line-height 14px

.soc-panel
	padding 0
	margin 10px 0

	li
		display inline-block

		a
			display block

.fb
	sprite $i-soc-fb
.tw
	sprite $i-soc-tw
.ma
	sprite $i-soc-em
.rs
	sprite $i-soc-rss
.vi
	sprite $i-soc-vm



