.page-footer
	background-color main-color
	max-width 940px
	margin 0 auto
	margin-top 48px
	color #fff
	overflow hidden

	article
		float left
		width 300px

		h1
			margin-bottom 20px
			text-transform uppercase
			font-family 'Bebas Neue'
			font-size 1.55rem
			letter-spacing .7px

		p
			font-family Helvetica
			font-size 0.8rem
			line-height 12px

	article + article
		margin-left 20px

	.about
		padding 35px
		padding-right 10px


	.twitter
		padding 35px
		a
			color link-c

	.contact
		padding-top 35px
		position relative
		a
			font-size 0.75rem
			color link-c

.tweet
	margin 25px 0
	font-family Helvetica
	font-size 0.8rem
	line-height 14px

.soc-panel
	padding 0
	margin 10px 0

	li
		display inline-block

		a
			display block

.fb
	sprite $i-soc-fb
.tw
	sprite $i-soc-tw
.ma
	sprite $i-soc-em
.rs
	sprite $i-soc-rss
.vi
	sprite $i-soc-vm
