.slider
	position relative
	top 15px
	right 13px
	width 940px
	height 400px
	margin 0 auto
	background slider-bg

.slide1
	width 940px
	height 400px
	background url(../../assets/images/slider/slide-1.png) no-repeat center center
	background-size cover

.slide2
	width 940px
	height 400px
	background url(../../assets/images/slider/slide-2.png) no-repeat center center
	background-size cover

.slide3
	width 940px
	height 400px
	background url(../../assets/images/slider/slide-3.png) no-repeat center center
	background-size cover
.slide4
	width 940px
	height 400px
	background url(../../assets/images/slider/slide-4.png) no-repeat center center
	background-size cover
.slide5
	width 940px
	height 400px
	background url(../../assets/images/slider/slide-5.png) no-repeat center center
	background-size cover
.slide6
	width 940px
	height 400px
	background url(../../assets/images/slider/slide-6.png) no-repeat center center
	background-size cover
.slide-info
	top 244px
	left 37px
	position absolute
	width 413px
	height 124px
	color white
	background-color rgba(232, 102, 60, 0.8)
.slide-title
	font-family 'Bebas Neue'
	text-transform uppercase
	margin 20px
	font-size 1.5rem
.slide-desc
	font-size 0.8rem
	margin-left 20px
	font-family 'Helvetica Neue'



