.deco-bottom
	&:before
		position absolute
		content ''
		height 16.6em
		width 13.5em
		margin-left -226px
		background-color rgba(232, 102, 60, 0.5)
	&:after
		position absolute
		content ''
		margin-left 10px
		height 16.6em
		width 13.5em
		background-color rgba(232, 102, 60, 0.5)

.deco-up
	&:after
		position absolute
		content ''
		top 0
		left 950px
		height 3.6em
		width 13.5em
		background-color rgba(232, 102, 60, 0.5)
	&:before
		position absolute
		content ''
		height 3.6em
		width 13.5em
		left -226px
		background-color rgba(232, 102, 60, 0.5)
