.swiper-container
	width 940px
	height 400px
	margin 0 auto
	z-index 1
	position relative

.swiper-slide
	text-align center
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content center
	align-items center
	position relative

