<!DOCTYPE html>
<html lang="ru">
  <body>
    <div class="main">
      <header class="page-header">
        <h1 class="logo">Jet<span class="logo_lighter">ro</span></h1>
        <nav class="main-nav">
          <ul>
            <li class="main-nav__list-item"><a href="javascript:void(0);" class="main-nav__link">Home</a></li>
            <li class="main-nav__list-item"><a href="javascript:void(0);" class="main-nav__link">About us</a></li>
            <li class="main-nav__list-item"><a href="javascript:void(0);" class="main-nav__link">Blog</a></li>
            <li class="main-nav__list-item"><a href="javascript:void(0);" class="main-nav__link">Portfolio</a></li>
            <li class="main-nav__list-item"><a href="javascript:void(0);" class="main-nav__link">Contact us</a></li>
          </ul>
        </nav>
      </header>
      <section class="slider swiper-container">
        <div class="swiper-wrapper">
          <ul id="my-list">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
          </ul>
        </div>
      </section>
    </div>
    <script src="/assets/scripts/debug.js?1427564463702"></script>
    <script src="/assets/scripts/common.min.js?1427564463702"></script>
  </body>
</html>